Source: leicht
Section: misc
Priority: optional
Maintainer: Azer Abdullaev (Like All) <like-all@yandex.com>
Build-Depends: debhelper (>= 9), golang, ruby-ronn, git, ca-certificates
Standards-Version: 3.9.5
Homepage: https://github.com/Like-all/leicht
Vcs-Browser: https://github.com/Like-all/leicht/blob/master/src/man/leicht.1.md
X-Debrew-Production-Flavours: ["jessie", "stretch", "trusty", "xenial"]
X-Debrew-Production-Architectures: ["amd64"]
X-Debrew-Testing-Flavours: ["stretch", "jessie"]
X-Debrew-Testing-Architectures: ["amd64"]
X-Debrew-Maintainer-Login: like-all

Package: leicht
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, jq, socat
Description: Telegram bot framework
 leicht is a simple multipurpose Telegram bot that can handle and log direct messages or multi-user chat
